
body {
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
    font-weight: 400;
    color: #3c3c3c;
	overflow-x:hidden;
}

.white-text {
	color: #FFF;
}

/* --  form  -- */
.form-wrap {
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact button[type="submit"] {
	border-radius: 4px;
	color: #3c3c3c;
	border: none;
}

#contact {
	background:#039acf;
	padding: 25px 25px 5px 25px;
	text-align: center;
}

#contact:before{
	content: '';
	position:absolute;
	left: -25px;
    top: 45%;
	border: 20px solid transparent;	
	border-right: 20px solid #039acf;
}

#contact h3, #contact span{
	color: #FFF;
	display: block;
	font-size: 30px;
	font-weight: 700;
}

#contact span{
	color: #ffac4a;
}

#contact h4 {
	display:block;
	color: #FFF;
	text-align: left;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"] {
	width:100%;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="tel"] {
	background:#FFF;
	margin:0 0 5px;
	width: 85%;
	padding:10px;
	float: right;
}

#contact input[type="text"]:focus{
    background: #fef2b8;
}

#contact input[type="tel"]:focus{
    background: #fef2b8;
}

#contact input[type="email"]:focus{
    background: #fef2b8;
}

.select {
	display: inline-block;
	float: left;
}

.select select {
	font-size: 18px;
	color: #3c3c3c;
	background-color: #fff;
	text-align: center !important;
    width: 47px;
	height: 47px;
	display: inline-block;
	float: left;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	border-radius: 4px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	position: relative;
	color:#FFF;
	margin:0 0 5px;
	padding:20px;
	font-size:28px;
	font-weight: 700;
  	background: #FDAC4B;
    background: linear-gradient(top,  #FDAC4B,  #FD922F);
    background: -ms-linear-gradient(top,  #FDAC4B,  #FD922F);
    background: -webkit-gradient(linear, left top, left bottom, from(#FDAC4B), to(#FD922F));
    background: -moz-linear-gradient(top,  #FDAC4B,  #FD922F);
}

#contact button[type="submit"]:hover {
	background:#74AFFF;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.count{
	width: 40%;
	text-align: left;
	color: #FFF;
}

/*------------------------------------*\
	Logo
\*------------------------------------*/
.navbar-brand {
    padding: 0;
}

.navbar-brand .logo {
	margin-top: 5px;
	display: inline-block;
	line-height: 26px;
}

.navbar-brand .logo > img {
	max-height:47px;
}

@media only screen and (max-width: 767px) {
	.navbar-brand {
		margin-left:15px;
	}
} 

/*------------------------------------*\
	Navigation
\*------------------------------------*/
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	height: 57px;
	background-color:#fff;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

#header.transparent-nav {
	background-color: transparent;
}

#header.transparent-nav .main-menu li a {
	color:#000;
}

.main-menu li a {
	-webkit-transition:0.2s all;
	transition:0.2s all;
}
.main-menu li a:first-child{
	font-size: 18px;
}

.main-menu li a:hover , .main-menu li a:focus {
	background-color:transparent;
}

.main-menu li a:after {
	content:"";
	display:block;
	height:2px;
	background-color:#FF6700;
	width:100%;
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover:after , .main-menu li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

/* -- Mobile Nav -- */
@media only screen and (max-width: 767px) {
	#nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 0%;
		max-width:250px;
		height: 100vh;
		background: #FFF;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
		padding-top: 80px;
		padding-bottom: 40px;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
		-webkit-transition: 0.4s all cubic-bezier(.77,0,.18,1);
		transition: 0.4s all cubic-bezier(.77,0,.18,1);
		z-index:9;
	}

	#header.nav-collapse #nav{
		width:100%;
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
	}
	
	.main-menu {
		margin:0;
	}
	
	.main-menu li a {
		color: #374050 !important;
		display: inline-block;
		margin-left: 40px;
	}
}

/* -- Mobile Toggle Btn -- */
.navbar-toggle {
	position:fixed;
	right:0;
	padding: 0;
	height: 40px;
	width: 40px;
	margin-top: 5px;
	z-index:99;
}

.navbar-toggle > span {
	position: absolute;
	top: 50%;
	left: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
	-webkit-transition: 0.2s background;
	transition: 0.2s background;
}

.navbar-toggle > span:before, .navbar-toggle > span:after {
	content: '';
	position:absolute;
	left:0;
	-webkit-transition: 0.2s -webkit-transform;
	transition: 0.2s -webkit-transform;
	transition: 0.2s transform;
	transition: 0.2s transform, 0.2s -webkit-transform;
}

.navbar-toggle > span , .navbar-toggle > span:before , .navbar-toggle > span:after {
	height: 2px;
	width: 25px;
	background-color:#374050;
}

.navbar-toggle > span:before {
	top: -10px;
}

.navbar-toggle > span:after {
	top: 10px;
}

#header.nav-collapse .navbar-toggle > span {
	background: transparent;
}

#header.nav-collapse .navbar-toggle > span:before {
    -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
}

#header.nav-collapse .navbar-toggle > span:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
}
/*------------------------------------*\
	Banner
\*------------------------------------*/
.banner {
    background: url(../img/bg.png) no-repeat center center/cover;
}

.relative {
    position: relative;
    padding-bottom: 47px;
}

.banner .overlay-bg {
    background: rgba(1, 58, 78, 0.45); /* Fallback */
	background-color: rgba(1, 58, 78, 0.45);
	color: rgba(1, 58, 78, 0.45);
}

.banner .overlay-bg:after {
	content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0px;
    background: url(../img/shadow.png) no-repeat center center/cover;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
	font-size:42px;
}

h1, .node{
	text-align: center;
	color: #fff;
}

.about_infoblock{
	margin-top: 49px;
}

.num{
	color: #FDAC4B;
}

.movi span{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 17px;
	display: inline-block;
	background-color: #039acf;
}

.section-footer{
	width: 100%;
	padding: 0;
	background-color: #F3F3F3;
	position: relative;
	margin-top: -5px;
	display: inline-block;
}

.step{
	margin: 0 auto;
	display: inline-block;
}

.step span{
	font-size: 72px;
	color: #039acf;
	font-weight: 400;
	display: inline-block;
}

.wrrap-step{
	position: relative;
}

.wrrap-step .step:last-child{
	width: 60%;
	margin-top: 34px;
}
.line:after{
	content: '';
    position: absolute;
    bottom: 25%;
    right: -33px;
    width: 90px;
    height: 1px;
    background-color: #30292a;
    z-index: 5;
    -webkit-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
            transform: rotate(-55deg);

}

.line:before{
	content: '';
    position: absolute;
    top: 25%;
    right: -33px;
    width: 90px;
    height: 1px;
    background-color: #30292a;
    z-index: 5;
    -webkit-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
            transform: rotate(55deg);

}

.section-footer .wrrap-step:last-child{
	content: none;
}

/*------------------------------------*\
	mob banner
\*------------------------------------*/

@media only screen and (max-width: 968px) {
	.line:after{
		display: none;
	}
	.line:before{
		display: none;
	}
}	

/*------------------------------------*\
	Fence
\*------------------------------------*/
.fence{
	display: inline-block;
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}

.icon{
	padding: 25px 0 25px 0;
	text-align: center;

}

.icon img{
	max-width: 100%;
}

.text{
	margin-top: 25px;
}

footer{
	display: inline-block;
	width: 100%;
	text-align: center;
}

footer ul > li{
	list-style: none;
	display: inline-block;
	padding: 0 10px 0px 10px;
	text-align: center;
	border-right: 1px solid;
	border-color: #000;
	font-size: 14px;
}
